@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is an online shop for many types of tyres. If you do not find the right model, please feel free to contact us for additional information.</p>
<img src="~/Content/Images/tyres.png" width="200px" height="100px" />
