@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    City: Târgu-Mureș<br />
    Str. Gheorghe Doja 64-68<br />
    <abbr title="Phone Number">P:</abbr>
    0265 265 487
</address>

<address>
    <strong>Support: </strong> <a href="mailto:marius.casvean@yahoo.com">marius.casvean@yahoo.com</a><br />
</address>